<div class="edit @closeClass">
    <div class="edit_window @closeClass">
        <form method="post" @onsubmit="OnAccept">
            <h3>@Title</h3>
            <br />
            <div>
                <button type="submit" class="btn btn-primary btn-sm">@AcceptButtonText</button>
                <button type="button" class="btn btn-secondary btn-sm" @onclick="Cancel">@CancelButtonText</button>
            </div>
        </form>
    </div>
</div>
@code {

    private string closeClass= string.Empty;
    [Parameter]
    public string Title { get; set; } = "Edit Item";
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public EventCallback OnAccept { get; set; }
    [Parameter]
    public string AcceptButtonText { get; set; } = "Yes";
    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";
    private void Cancel()
    {
        closeClass = "edit--close";
        Task.Delay(9000);
        OnClose.InvokeAsync(null);

    }

}
