@using InventoryLibrary.Data
@using InventoryLibrary.Services.Interfaces
@using InventoryWeb.Models
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ITypeService typeService;
@inject IConditionService conditionService;
@inject NavigationManager navigation;


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
        <Icon Name="icon" Color="color" Size="IconSize.x4"/>
        <b>@Title</b>
    </h5>
    <p class="card-text">
        @if(Items == null || Items.Count == 0){
            <i>No @Title.ToLower() added yet.</i>
            }else{
                @foreach (var item in Items){
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span>@item.Value</span>
                        <div>
                            @* Change Name *@
                            <a class="text-decoration-none me-2" style="cursor: pointer;" @onclick="@( e => showEditFormDialog(item.Key))" >
                                <Icon Name="IconName.PencilFill" Color="color"/>
                            </a>

                            @* Delete                                                                       add here deleting*@
                            <a class="text-decoration-none me-2" style="cursor: pointer;" @onclick="@( () => {})" >
                                <Icon Name="IconName.TrashFill" Color="IconColor.Danger"/>
                            </a>
                            <br/>
                        </div>
                    </div>
                }
        }
    </p>
    <hr />
    <button type="button" class="btn btn-primary btn-sm">+ Add New @buttonText</button>
  </div>
</div>



@if(showEditForm){
    @switch (Type)
    {
        case CategoryFormMode.Types:
            <TypeEditForm OnClose="@hideEditFormDialog" OnSubmit="@ChangeTitle" Name="@(Items[Id])"/>
            break;
         case CategoryFormMode.Conditions:
            <ConditionEditForm></ConditionEditForm>
            break;
        @*
        case CategoryFormMode.Locations:
            <LocationEditForm></LocationEditForm>
            break;
            *@
        case CategoryFormMode.Departments:
            navigation.NavigateTo($"/Categories/Edit-Department/{Id}");
            break;
    }
}

@code {


[Parameter]
public CategoryFormMode Type {get;set;} = CategoryFormMode.Types;
private int Id;
private string Title = "";
private IconName icon;
bool showEditForm = false;

private IconColor color = IconColor.None;

[Parameter]
public Dictionary<int, string> Items {get;set;} = new Dictionary<int, string>();


private string buttonText = "";

override protected async Task OnInitializedAsync()
{   
    switch (Type)
    {
        case CategoryFormMode.Types:
            Title = "Types";
            icon = IconName.TagFill;
            buttonText = "Type";
            color = IconColor.Primary;
            break;
        case CategoryFormMode.Conditions:
            Title = "Conditions";
            icon = IconName.ClipboardCheckFill;
            buttonText = "Condition";
            color = IconColor.Success;
            break;
        case CategoryFormMode.Locations:
            Title = "Locations";
            icon = IconName.MapFill;
            buttonText = "Location";
            break;
        case CategoryFormMode.Departments:
            Title = "Location";
            icon = IconName.BuildingFill;
            buttonText = "Department";
            color = IconColor.Info;
            break;
    }

}


private async Task hideEditFormDialog(){
    showEditForm = false;
    await Task.CompletedTask;
}

void showEditFormDialog(int id){
    Id = id;
    showEditForm = true;
}

private async Task ChangeTitle(string title){
    switch (Type)
    {
        case CategoryFormMode.Types:
            typeService.ChangeName(Id,title);
            break;
        case CategoryFormMode.Conditions:

            break;
        case CategoryFormMode.Locations:

            break;
        case CategoryFormMode.Departments:

            break;
    }
    await Task.Delay(10);
    navigation.Refresh();
}

}
