@using InventoryLibrary.Model.Inventory
@inject NavigationManager navigationManager
<div class="itemform px-2">
<div class="py-2">
    <button @onclick="onBack" class="btn btn-primary btn-l">@("<") Back</button>
</div>
<Grid @ref="grid"
    TItem="InventoryItem"
    Class="table table-hover table-bordered"
    Data="ItemList"
    FixedHeader="true"
    Responsive="true"
    AllowSorting="true"
    Unit="Unit.Px"
    RowClass="GetRowClass">

    <GridColumns>
        <GridColumn TItem="InventoryItem" HeaderText="Id" PropertyName="Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Name" PropertyName="Name" SortKeySelector="i => i.itemName">
            @context.itemName
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Type" PropertyName="Type" SortKeySelector="i => i.ItemType.TypeName">
            @context.ItemType.TypeName
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Condition" PropertyName="Condition" SortKeySelector="i => i.ItemCondition.Id">
            @context.ItemCondition.ConditionName
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Price" PropertyName="Price" SortKeySelector="i => i.itemPrice">
            @context.itemPrice
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Added Date" PropertyName="AddedDate">
            @context.addedDate
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Warranty's End" PropertyName="WarrantyEnd" SortKeySelector="i=>i.warrantyEnd">
            @context.warrantyEnd
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Last Inventory" PropertyName="LastInventory" SortKeySelector="i=>i.lastInventoryDate">
            <p class='@GetTextClass(context)'>@context.lastInventoryDate</p>
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Location" PropertyName="Location" SortKeySelector="i => i.Location == null ? string.Empty : i.Location.RoomName">
            <p class='@GetTextClass(context)'>@(context.Location?.RoomName ?? "")</p>
        </GridColumn>
        <GridColumn TItem="InventoryItem" HeaderText="Actions">
            <button class="btn btn-primary btn-sm" @onclick='() => navigationManager.NavigateTo($"/create/{context.Id}")'>
                Edit <Icon Name="IconName.PencilFill" />
            </button>
            <button class="btn btn-danger btn-sm" @onclick="() => { ItemIdToDelete = context.Id; showConfirmationBox = true; }">
                <Icon Name="IconName.TrashFill"/>
            </button>
        </GridColumn>
    </GridColumns>

</Grid>
@if(showConfirmationBox){
    <ConfirmationBox 
        Title="Are you sure you want to delete this item?" 
        AcceptButtonText="Yes" 
        CancelButtonText="No" 
        OnAccept="@OnConfirmAccept"
        OnClose="@OnConfirmCancel">
    </ConfirmationBox>
}
</div>

@code {
    BlazorBootstrap.Grid<InventoryItem> grid = default;

    [Parameter]
    public IEnumerable<InventoryItem> ItemList {get;set;}

    [Parameter]
    public EventCallback onBack {get;set;}

    [Parameter]
    public EventCallback<int> onDeleteItem {get;set;}
    private int ItemIdToDelete;
    private bool showConfirmationBox = false;


    private string GetRowClass(InventoryItem item){
        var dayleft = (item.lastInventoryDate.Date.AddYears(2) - item.lastInventoryDate.Date).TotalDays;
        if(dayleft < 30){
            return "table-danger";
        }else if(dayleft>30 && dayleft< 365){
            return "table-warning";
        }else{
            return "";
        }
    }

    private string GetTextClass(InventoryItem item){
        var dayleft = (item.lastInventoryDate.Date.AddYears(2) - item.lastInventoryDate.Date).TotalDays;
        if(dayleft < 30){
            return "text-danger fw-bold";
        }else if(dayleft>30 && dayleft< 180){
            return "text-warning fw-bold";
        }else{
            return "";
        }
    }

    private async Task OnConfirmAccept()
    {
        await onDeleteItem.InvokeAsync(ItemIdToDelete);
        showConfirmationBox = false;
    }

    private void OnConfirmCancel()
    {
        showConfirmationBox = false;
    }
}
